<!DOCTYPE html>
<html lang="{{ site.Language }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
      <div class="holy-grail-grid">
      <header class="header">
        {{ partial "header" . }}
      </header>
      <main class="main-content">
        {{ block "main" . }}{{ end }}
      </main>
      <section class="left-sidebar">
        {{ partial "left" . }}
      </section>
      <aside class="right-sidebar">
        {{ partial "right" . }}
      </aside>
      {{ partial "footer.html" . }}
    </div>
      {{ partial "footer-js" . }}
  </body>
</html>