{{ define "main" }}
  {{ .Content }}
    {{ range .Paginator.Pages }}
  <article class="list">
    <article class="list-article">
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    
    <div class="info">
        {{ partial "info-page" . }}
    </div>
    
    {{ if gt (len .Summary) 150 }}
      {{ slicestr .Summary 0 150 }}...
    {{ else }}
      {{ .Summary }}...
    {{ end }}
  </article>
  {{ end }}
  </div>
  <div class="paginator">
  {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
