.related-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.related-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.related-image img {
  width: 80px; /* Sesuaikan ukuran gambar di sini */
  height: auto;
  object-fit: cover;
}

.related-details {
  padding: 10px;
  flex-grow: 1;
}

.related-title {
  font-size: 16px; /* Ukuran teks judul */
  font-weight: bold;
}

.related-author {
  font-style: italic;
}