.list-list{
  padding: 0.5em 0;
  margin: 0.5em 0;
}
.list-article{
  border-bottom: 0.1px grey solid;
  padding: 1em 0;
  &:last-child{
    border-bottom: none;
  }
  h2{
    margin:0;
    padding: 0;
  }
}

.container-info-page{
  display: flex;
  font-size: 13px;
  padding: 0.5em 0;
}

.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin-top:2em;
  margin-left: 0;
  gap: 2px;
}

.page-link {
  color: $theme;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid $theme;
  border-radius: 10px;
  font-weight: 200;
}

.page-link:hover {
  background-color: #f5f5f5;
}

.page-item.active .page-link {
  background-color: $theme;
  color: #fff;
  border-color: $theme;
}