main{
  padding-top: 0;
  padding-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  
  box-shadow: 0 1px 1px 0 grey;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  
  img{
    border-radius: 15px;
  }
}

.bread{
  padding-top: 1.5em;
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    display: flex;
    gap: 0.5em;
    li{
      margin: 0;
      padding: 0;
      color: $grey-color;
      &:not(:last-child)::after {
  content: "/"
  ;
      }
      a{
        padding-left: 0;
        padding-right: 0.7em;
        padding-top: 0.3em;
        padding-bottom: 0.5em;
        font-size: 14px;
      }
    }
  }
}

.content-page{
  a{
    font-weight: 500;
    color: $theme;
  }
}

#article-header{
  h1{
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.container_info{
  font-size: 13px;
  font-weight: 400;
  padding: 0.5em 0;
  text-transform: capitalize;
}
.container-toc{
  text-transform: capitalize;
  h2{
    font-size: 14px;
    padding: 0.15em 0;
    margin-bottom: 0.1em;
    margin-top:1em;
  }
    ul{
    padding: 0;
    margin: 0;
    margin-left: 1.3em;
    font-size: 13px;
    font-weight: 400;
    list-style: "› ";
    text-transform: capitalize;
    li{
      margin-bottom: 0.25em;
    }
    }
}

#tags{
  display: flex;
  ul{
    list-style: "＃";
    display: flex;
    gap : 1em;
    li{
    text-transform: lowercase;
    a{
      padding-right: 0.2em;
      padding-top: 0.2em;
      padding-left: 0;
      padding-bottom: 0.3;
      color: $theme;
    }
    }
  }
}

.divider{
  padding: 0 1em;
  color: grey;
}