$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
$base-font-size: 14px;
$h-line-height: 1.4;
$h-font-weight: 600;
//$h-padding: 1em 0 0.5em;
$h-padding: 0;

@mixin heading-style($size) {
  font-size: $base-font-size + $size;
  line-height: $h-line-height;
  font-weight: $h-font-weight;
  padding: $h-padding;
  text-transform: capitalize;
  font-family: Times New Roman;
}

body {
  font: normal 400 16px / 1.6 $base-font-family;
  color: $font-color;
  background-color: $bg-body;
}
h2,h3,h4{margin-bottom: 0.5em; margin-top:0.75em}
h1 {
  @include heading-style(5px);
}

h2 {
  @include heading-style(4px);
}

h3 {
  @include heading-style(3px);
}

h4 {
  @include heading-style(3px);
}

p {
  padding: 1em 0 1em;
}

ul, ol{
  list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJtMTk5LjA2NiA0NTZsLTcuMzc5LTcuNTE0bC0zLjk0LTMuOWwtODYuMi04Ni4ybC4wNTMtLjA1NWwtODMuNjY0LTgzLjY2Nmw5Ny42MTQtOTcuNjEzbDgzLjU2NSA4My41NjVMMzk4LjM4OCA2MS4zNDRMNDk2IDE1OC45NThMMjk2LjcyOSAzNTguMjI5bC0xMS4yNiAxMS4zNzFaTTE0Ni42IDM1OC4xODNsNTIuNDU5IDUyLjQ2bC4xLS4xbC4wNTQuMDU0bDUyLjMxMS01Mi4zMTFsMTEuMjU5LTExLjM2OGwxODcuOTYzLTE4Ny45NmwtNTIuMzU4LTUyLjM1OGwtMTk5LjI3MyAxOTkuMjcxbC04My41NjUtODMuNTY1bC01Mi4zNTkgNTIuMzU5bDgzLjQ2NCA4My40NjNaIi8+PC9zdmc+ ");
  margin-left: 30px;
  margin-bottom: 1em;
}


ol li{
  margin-bottom: 0.4em;
}

ul li{
  margin-bottom: 0.4em;
}

li{
  margin-bottom: 0.4em;
}

a {
  
  text-decoration: none;
  position: relative;
}

a:hover {
  color: #f00;
  text-decoration: underline;
}

a:hover::before {
  background-color: #f00;
}

$samp-value: #f0f0f0;
$time-value: #333;
$code-value: #000;
$variable-value: #008000;
$background-value: #fff;
$border-value: #ccc;
$text-main-value: #333;



pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

var {
  color: $variable-value;
  font-style: normal;
  font-family: monospace;
}

kbd {
  background: $background-value;
  border: 1px solid $border-value;
  border-radius: 20px;
  color: $text-main-value;
  padding: 2px 4px;
}
