<script>
    document.addEventListener('DOMContentLoaded', function() {
    var touchToc = document.querySelector('.touch-toc');
    var iconToc = document.querySelector('.toc-content');
    
    touchToc.addEventListener('click', function() {
        if (iconToc.style.display === 'none') {
            iconToc.style.display = 'inline';
        } else {
            iconToc.style.display = 'none';
        }
    });
});

function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
  </script>